body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #024711;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #ff0101;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
article {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #d6d5d5;
    margin-bottom: 5px;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #555;
}